<!DOCTYPE html>
<html lang="en">
  <body>
      <footer id="footer">
          <span>mingleeDB "Game Library" Inventory App by <a href="https://github.com/andrewtran28/memory-card-game">minglee</a>; Game images provided by <a href="https://www.giantbomb.com/api/">GameBomb API</a></span>
      </footer>
  </body>
</html>