<!DOCTYPE html>
<html lang="en">
<body>
    <nav id="header">
        <div class="header-logo"><img id="logo" src="/game.png"><a href="/">mingleeDB</a></div>
        <div>
            <a class="header-link" href="/library">Library</a>
            <a class="header-link" href="/library/new">+ Add Game</a>
        </div>
    </nav>
</body>
</html>