<!DOCTYPE html>
<html lang="en">
  <body>
      <form method="POST" action="/library/new" class="form-cont">
        <h1 class="form-title">Add</h1>
        <label for="gameName">Game Title: </label>
        <input type="text" name="gameName" id="game-name">
        <%- include('formErrors', {errors: errors, selector: 'gameName'}) %>
        <br>
        <label for="gamePlatform">Platform(s): </label>
        <input type="text" name="gamePlatform" id="game-platform" placeholder="Separate multiple platforms with commas">
        <%- include('formErrors', {errors: errors, selector: 'gamePlatform'}) %>
        <br>
        <label for="gameGenre">Genre(s): </label>
        <input type="text" name="gameGenre" id="game-genre" placeholder="Separate multiple genres with commas">
        <%- include('formErrors', {errors: errors, selector: 'gameGenre'}) %>
        <br>
        <button class="btn-submit" type="submit">Submit</button>
      </form>
  </body>
</html>